<%- include('../partials/linksHead'); %>
<title>Busqueda aleatoria de: <%= search %></title>
<body>
        <header><%- include('../partials/header'); %>
        </header>
        <h1 class="font-italic text-center">Busqueda aleatoria de 
            <span class="text-uppercase "><ins><%= search %></ins></span>
        </h1>
        <%- include('../partials/tableProducts'); %>
    </body>
 </html>