<%- include('../partials/linksHead'); %>
<title>Busqueda aleatoria de: <%= search %></title>
<body>
        <header><%- include('../partials/header'); %>
        </header>
        <h1 class="text-center mt-5">
            Búsqueda aleatoria de
            <span class="text-uppercase" style="color: #007bff;"><ins><%= search %></ins></span>
        </h1>
        <%- include('../partials/tableProducts'); %>
    </body>
 </html>