<title>Lista de Productos: <%= search %></title>
<%- include('../partials/linksHead'); %>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <h1 class="text-center mt-5">
        Búsqueda de 
        <span class="text-uppercase" style="color: #007bff;"><ins><%= search %></ins></span>
    </h1>

    <% if (view === 'table') { %>
        <%- include('../partials/tableProducts', { products: products }); %>
    <% } else if (view === 'card') { %>
        <%- include('../partials/cardProducts', { products: products }); %>
    <% } %>
</body>
<%- include('../partials/scripts'); %>

